*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:monospace;
}

body{
  display: flex;
  justify-content: center;
    height: 100vh;    
    background-color: #757575;
    background-image: url("../img/forgor.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    overflow: hidden;

}

.container{    
    margin-top: 100px;
    padding:80px 30px;
    height:500px;
    width:400px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px white;
}

.title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}

.user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.input-box:nth-child(2n){
    justify-content: end;
}

.input-box{
    display:inline-table;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 15px;
}

.input-box label{
  height: 40px;
  width: 95%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
  padding:5px ;
}

.input-box input{
  display:inline-table;
  height: 40px;
  width: 100%;
  border-radius: 7px;
  background-color: white;
  outline: none;
  border: 1px solid grey;
  padding:0 10px;
}
.Reset-button{
    margin-top: 40px;
}

.Reset-button button{
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    border:none;
    padding: 10px;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 0, 0.7);
}

.Reset-button button:hover{
    background: rgba(255, 100, 0, 0.7);
    color: rgb(0, 0, 0);
}

    @media(max-width:400px) {
        .container{
        margin-top: 100px;
        padding:80px 20px;
        height:500px;
        width:300px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        box-shadow: inset -2px 2px 2px white;
            }
    }
